.no-decoration,
.no-decoration:hover {
    text-decoration: none !important;
}

i {
    padding-right: 10px;
    width: 25px;
}

tr {
    font-size: 12px;
}

th.largura-140px {
    width: 140px;
}

th.largura-141px {
    width: 141px;
}

.color-red {
    color: red;
}

.table tbody tr:hover {
    background: #f7f7f7;
    cursor: pointer;
}


/*
* MOBILE
*/

@media (max-width: 764px) {
    .only-desktop {
        display: none;
    }
    td {
        font-size: 12px;
    }
    .sidebar {
        position: absolute !important;
        z-index: 9 !important;
    }
    .navbar {
        z-index: 10 !important;
    }
    .topbar .dropdown .dropdown-menu {
        width: initial !important;
    }
    .width-100 {
        width: 100px !important;
    }
    .table-responsive {
        box-shadow: inset 0 0 10px #00000061;
    }
    .form-inline button.btn.btn-primary {
        width: 100%;
    }
    .form-header,
    form.form.form-inline {
        width: 100%;
    }
}


/*
* DESKTOP
*/

@media (min-width: 764px) {
    .sidebar.toggled .nav-item .nav-link i {
        margin: 0;
        padding: 0;
    }
    ul#accordionSidebar {
        position: fixed;
        z-index: 9;
    }
    nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow {
        position: fixed;
        width: 100%;
        z-index: 10;
    }
    .container-fluid {
        margin-left: 120px;
        margin-top: 100px;
        padding-right: 150px;
    }
    .bg-white {
        background-color: #282625!important;
    }
}

table#tabelaAjudaCusto tr {
    cursor: default;
}

#tabelaDebitos tr {
    cursor: default;
}

.image-upload {
    width: 250px;
    height: 40px;
    border: 0;
    position: relative;
    background: #007bff;
}

.escolher {
    width: 100%;
    height: 40px;
    color: #fff;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-weight: bolder;
}

a.btnRemoveDebitoDB {
    cursor: pointer;
}

main>div>h1 {
    padding-left: 15px;
}

img#image-foto,
img#image-rg-frente,
img#image-rg-verso {
    max-width: 100%;
}

.bg-transparente {
    background: transparent !important;
}

img.img-list {
    width: 150px;
}

.loading {
    z-index: 999999;
    position: absolute;
    top: 0;
    left: -5px;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 83%);
}

.loading-content {
    position: fixed;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    animation: spin 1s linear infinite;
}

.form-header input,
.form-header select {
    margin-bottom: 5px;
}

.form-header button.btn.btn-primary {
    margin-top: -6px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.custom-file-input {
    display: none;
}

textarea#descricao {
    width: 100%;
    height: 150px;
}

.show-param {
    display: block !important;
}

.btn-primary {
    color: white !important;
}

.status-pendente {
    background: #FFC107;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 700;
}

.status-concluido {
    background: #4CAF50;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 700;
}

.status-atendimento {
    background: #03A9F4;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 700;
}

.td-pendente {
    background: #FFC107;
    color: white;
}

.td-concluido {
    background: #4CAF50;
    color: white;
}

.td-atendimento {
    background: #03A9F4;
    color: white;
}

span.mr-2 {
    float: left;
    width: 100%;
}

.height-100p {
    height: 100%;
}

i.fas.fa-file-alt.text-white {
    width: 10px;
}

.bg-alert-atendimento {
    background-color: #fcbe06!important;
}

.btnVisaoEmpresa {
    cursor: pointer;
}

.text-payment {
    color: #4CAF50;
}

.text-tracking {
    color: #3498db;
}

.text-delivery {
    color: #cddc39;
}

.text-exchange {
    color: #ffa500;
}

.text-cancel {
    color: #ff0000;
}

.text-desist {
    color: #000000;
}

.text-other {
    color: #00f;
}

.min-height-270px {
    min-height: 270px;
}

.min-height-211px {
    min-height: 211px;
}

span.c-on-base.ml3 {
    font-size: 14px;
}

label {
    font-size: 13px;
    font-weight: 600;
}

.form-control {
    height: 36px;
}

.min-height-211px {
    min-height: 211px;
}

.text-primary {
    color: #3e3e3e !important;
}

.card-header {
    background-color: #f5f5f5;
}

h6.m-0.text-primary {
    font-size: 14px;
    font-weight: 400;
}

.form-control.readonly {
    background: #eee;
}

.hide-form {
    display: none;
}

.border-none {
    border: 0;
    padding-left: 0;
}

.logo img {
    width: 100%;
}

.bg-gradient-primary {
    background-image: linear-gradient(180deg, #2d2926 10%, #f9b145 100%)!important;
}

body {
    background-color: #f8f9fc;
}