a.link-header,
a.link-header:hover,
.link-header:focus {
    color: white;
    border-radius: 5px;
    background-color: #0069d9;
    border-color: #0062cc;
    padding: 10px;
}

.colRemoveDebito {
    width: 30px;
    text-align: center;
}

.btnRemoveDebito {
    cursor: pointer;
}

div#myTabContent {
    position: relative;
    background: white;
    padding: 15px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}